<%- include("header.ejs") %>
<table>
    <tbody>
      <% board.forEach((row, rowIndex) => { %>
        <tr>
          <% row.forEach((cell, colIndex) => { %>
              <td>[<%= cell %>]</td>
          <% }) %>
        </tr>
      <% }) %>
    </tbody>
  </table>
<%- include("addBuilding.ejs") %>
<%- include("removeBuilding.ejs") %>
<%- include("increseBoardSize.ejs") %>
</body>
</html>
